<div
  class="reset-password-container"
  *ngIf="isValidToken; else invalidTokenTemplate"
>
  <div class="reset-password-box">
    <h2>Restablecer Contraseña</h2>
    <form (ngSubmit)="onSubmit()" #resetForm="ngForm">
      <div class="form-field">
        <label for="newPassword">Nueva Contraseña</label>
        <input
          pInputText
          id="newPassword"
          [(ngModel)]="newPassword"
          name="newPassword"
          required
          type="password"
          #newPasswordModel="ngModel"
        />
        <div
          *ngIf="
            newPasswordModel.invalid &&
            (newPasswordModel.dirty || newPasswordModel.touched)
          "
        >
          <small class="error-text">Se requiere una contraseña.</small>
        </div>
      </div>
      <div class="form-field">
        <label for="confirmPassword">Confirmar Contraseña</label>
        <input
          pInputText
          id="confirmPassword"
          [(ngModel)]="confirmPassword"
          name="confirmPassword"
          required
          type="password"
          #confirmPasswordModel="ngModel"
        />
        <div
          *ngIf="
            confirmPasswordModel.invalid &&
            (confirmPasswordModel.dirty || confirmPasswordModel.touched)
          "
        >
          <small class="error-text"
            >Se requiere confirmación de la contraseña.</small
          >
        </div>
      </div>
      <p-button
        label="Restablecer Contraseña"
        type="submit"
        class="p-button-primary"
        [disabled]="resetForm.invalid"
      ></p-button>
    </form>
  </div>
</div>
<ng-template #invalidTokenTemplate>
  <div class="error-container">
    <h2>Error</h2>
    <p>
      Token inválido o expirado. Por favor, solicita un nuevo restablecimiento
      de contraseña.
    </p>
    <p-button
      label="Volver al Login"
      (click)="goToLogin()"
      class="p-button-primary"
    ></p-button>
  </div>
</ng-template>
