<div class="levels-list-container">
  <button
    pButton
    label="Regresar"
    icon="pi pi-arrow-left"
    class="p-button-secondary"
    (click)="goBack()"
  ></button>
  <h2>Lista de Niveles</h2>
  <p-table
    [value]="levels"
    [paginator]="true"
    [rows]="pageSize"
    [totalRecords]="totalItems"
    [lazy]="true"
    (onLazyLoad)="onPageChange($event)"
    [first]="(currentPage - 1) * pageSize"
    [rowsPerPageOptions]="[5, 10, 25, 50]"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Nombre</th>
        <th>Acciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-level>
      <tr>
        <td>{{ level.name }}</td>
        <td>
          <button
            pButton
            icon="pi pi-pencil"
            class="p-button-warning"
            (click)="editLevel(level.id)"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
