<div class="course-create-container">
  <h2>Crear Curso</h2>
  <button
    pButton
    label="Regresar"
    class="p-button-secondary"
    icon="pi pi-arrow-left"
    (click)="goBack()"
  ></button>
  <form (ngSubmit)="onSubmit()" #createCourseForm="ngForm">
    <div class="form-field">
      <label for="subjectName">Nombre del Curso</label>
      <input
        pInputText
        id="subjectName"
        [(ngModel)]="subjectName"
        name="subjectName"
        required
      />
    </div>
    <div class="form-field">
      <label for="description">Descripción</label>
      <textarea
        pInputTextarea
        id="description"
        [(ngModel)]="description"
        name="description"
        required
      ></textarea>
    </div>
    <button
      pButton
      label="Crear Curso"
      type="submit"
      class="p-button-primary"
      [disabled]="createCourseForm.invalid"
    ></button>
  </form>
</div>
