<div class="child-performance-container">
  <div class="button-container">
    <button class="back-button" (click)="goBack()">
      <i class="pi pi-arrow-left"></i> Atrás
    </button>
  </div>
  <div class="user-info-dropdown">
    <!-- Información del niño -->
    <div class="child-info">
      <div class="child-info-header">
        <h3>Información del Niño</h3>
        <p-button
          icon="pi pi-pencil"
          class="p-button-rounded p-button-text edit-button"
          (click)="editChildInfo()"
          tooltip="Editar Información del Niño"
          tooltipPosition="top"
        ></p-button>
      </div>
      <div class="child-info-grid">
        <p><strong>Nombre:</strong> {{ playerData.full_name }}</p>
        <p><strong>Edad:</strong> {{ playerData.age }}</p>
        <p><strong>Etnia:</strong> {{ playerData.ethnicity }}</p>
        <p>
          <strong>Nombre del Representante:</strong>
          {{ playerData.caretaker_name }}
        </p>
        <p>
          <strong>Email del Representante:</strong>
          {{ playerData.caretaker_email }}
        </p>
      </div>
    </div>

    <!-- Dropdown para seleccionar juego -->
    <div class="game-select">
      <span>Selecciona un Juego</span>
      <p-dropdown
        [options]="games"
        [(ngModel)]="selectedGame"
        optionLabel="label"
        placeholder="Selecciona Juego"
        appendTo="body"
        (onChange)="onGameSelect()"
      ></p-dropdown>
    </div>
  </div>

  <div *ngIf="!selectedGame" class="message-container">
    <i class="pi pi-face-smile icon"></i>
    <p class="message-text">
      Por favor, selecciona el juego para visualizar el desempeño de este niño.
    </p>
  </div>
  <!-- Gráficas y datos -->
  <h3 class="game-title" *ngIf="selectedGame">
    Desempeño del niño en el juego: {{ selectedGame?.label }}
  </h3>
  <div *ngIf="selectedGame" class="chart-container">
    <app-bar-chart
      [title]="'Puntaje por Nivel'"
      [data]="levelGradesData"
      [color]="'#FF8C71'"
      [data_label]="'Nivel de Rendimiento'"
      [labels]="levelGradesLabels"
    ></app-bar-chart>

    <app-bar-chart
      [title]="'Tiempo por Nivel'"
      [data]="levelTimesData"
      [color]="'#82BEFF'"
      [data_label]="'Tiempo en segundos'"
      [labels]="levelTimesLabels"
    ></app-bar-chart>

    <app-stacked-chart
      [title]="'Estados por Nivel'"
      [data]="levelStatesData"
      [labels]="levelStatesLabels"
    ></app-stacked-chart>

    <app-stacked-chart
      [title]="'Estados por Historia'"
      [data]="storyStatesData"
      [labels]="storyStatesLabels"
    ></app-stacked-chart>

    <app-bar-chart
      [title]="'Tiempo por Historia'"
      [data]="storyTimesData"
      [color]="'#FFCE56'"
      [data_label]="'Tiempo en segundos'"
      [labels]="storyTimesLabels"
    ></app-bar-chart>
  </div>
</div>
