<h3>MIDI Panel de control</h3>
<div class="data-container">
  <div class="data-general">
    <div class="data-general-title-container">
      <span>Datos Generales de todos los juegos</span>
    </div>

    <div class="general-cards">
      <app-info-card
        *ngFor="let card of infoCards"
        [title]="card.title"
        [value]="card.value"
        [icon]="card.icon"
      ></app-info-card>
    </div>
  </div>
  <div class="data-game">
    <div class="data-game-title-container">
      <span>Juego seleccionado:</span>
      <p-dropdown
        [autoDisplayFirst]="false"
        [options]="games"
        [(ngModel)]="selectedGame"
        (onChange)="onGameSelect($event)"
        optionLabel="label"
        placeholder="Selecciona Juego"
        appendTo="body"
      />
    </div>

    <div class="general-cards">
      <app-info-card
        *ngFor="let card of gameCards"
        [title]="card.title"
        [value]="card.value"
        [icon]="card.icon"
      ></app-info-card>
    </div>
  </div>
</div>
<h3 *ngIf="barChartData1">
  Datos generados del juego: {{ selectedGame?.label }}
</h3>
<div class="chart-container">
  <app-bar-chart
    *ngIf="barChartData1"
    [data]="barChartData1.data"
    [labels]="barChartData1.labels"
    [data_label]="'Nivel de Rendimiento'"
    [title]="'Puntaje Promedio por Nivel'"
    [color]="'#FF8C71'"
  ></app-bar-chart>

  <app-bar-chart
    *ngIf="barChartData2"
    [data]="barChartData2.data"
    [labels]="barChartData2.labels"
    [data_label]="'Tiempo en segundos'"
    [title]="'Tiempo Promedio por Nivel'"
    [color]="'#82BEFF'"
  ></app-bar-chart>

  <app-stacked-chart
    *ngIf="stackedChartData1"
    [data]="stackedChartData1.data"
    [labels]="stackedChartData1.labels"
    [title]="'Estado de Niveles Completados vs Abandonados'"
  ></app-stacked-chart>

  <app-stacked-chart
    *ngIf="stackedChartData2"
    [data]="stackedChartData2.data"
    [labels]="stackedChartData2.labels"
    [title]="'Estado de Historias Completadas vs Abandonadas'"
  ></app-stacked-chart>
</div>

<div *ngIf="!barChartData1" class="message-container">
  <i class="pi pi-face-smile icon"></i>
  <p class="message-text">
    Por favor, selecciona el juego para poder visualizar los datos generales del
    mismo.
  </p>
</div>
