<div class="school-list-container">
  <h2>Lista de Escuelas</h2>
  <button
    pButton
    label="Crear Escuela"
    class="p-button-success"
    (click)="createSchool()"
  ></button>
  <p-table [value]="schools">
    <ng-template pTemplate="header">
      <tr>
        <th>Nombre</th>
        <th>Código</th>
        <!-- Nueva columna para el código -->
        <th>Acciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-school>
      <tr>
        <td>{{ school.name }}</td>
        <td>{{ school.code }}</td>
        <!-- Mostrar el código de la escuela -->
        <td>
          <button
            pButton
            icon="pi pi-pencil"
            class="p-button-warning action-button"
            (click)="editSchool(school.id)"
          ></button>
          <button
            pButton
            icon="pi pi-trash"
            class="p-button-danger action-button"
            (click)="deleteSchool(school.id)"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
