<div class="school-list-container">
  <h2>Lista de Escuelas</h2>
  <button
    pButton
    label="Crear Escuela"
    class="p-button-success"
    (click)="createSchool()"
    *ngIf="!isTeacher()"
  ></button>
  <p-table [value]="schools">
    <ng-template pTemplate="header">
      <tr>
        <th>Nombre</th>
        <th>Código</th>
        <th *ngIf="!isTeacher()">Acciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-school>
      <tr>
        <td>
          <a (click)="goToCourses(school.id)" class="school-link">{{
            school.name
          }}</a>
        </td>
        <td>{{ school.code }}</td>
        <td *ngIf="!isTeacher()">
          <button
            pButton
            icon="pi pi-pencil"
            class="p-button-warning action-button"
            (click)="editSchool(school.id)"
          ></button>
          <button
            pButton
            icon="pi pi-trash"
            class="p-button-danger action-button"
            (click)="deleteSchool(school.id)"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
