<div class="login-selection-container">
    <div class="login-box">
      <img src="/assets/img/logo.png" alt="Logo" class="logo">
      <h2>Bienvenido a MID</h2>
      <div class="login-buttons">
        <button routerLink="/login/admin" class="login-button admin-button">Inicio sesion Admin</button>
        <button routerLink="/login/teacher" class="login-button teacher-button">Inicio sesion Profesor</button>
        <button routerLink="/login/parent" class="login-button parent-button">Inicio sesion Padre de Familia</button>
      </div>
    </div>
  </div>
  