<div class="login-selection-container">
  <div class="login-box">
    <img src="/assets/img/logo.png" alt="Logo" class="logo" />
    <h2>Bienvenido al dashboard MIDI</h2>
    <div class="login-buttons">
      <button
        (click)="navigateToLogin('admin')"
        class="login-button admin-button"
      >
        Inicio sesion Admin
      </button>
      <button
        (click)="navigateToLogin('teacher')"
        class="login-button teacher-button"
      >
        Inicio sesion Profesor
      </button>
      <button
        (click)="navigateToLogin('parent')"
        class="login-button parent-button"
      >
        Inicio sesion Padre de Familia
      </button>
    </div>
  </div>
</div>
