<div class="performance-container">
  <div class="performance-left">
    <h3>Filtros de Visualización</h3>
    <!-- Dropdowns para seleccionar filtros -->
    <span>Escuela</span>
    <p-dropdown
      [autoDisplayFirst]="false"
      [options]="schools"
      [(ngModel)]="selectedSchool"
      optionLabel="label"
      placeholder="Escuela"
      appendTo="body"
      (onChange)="onFilterChange()"
    ></p-dropdown>

    <span>Fecha Inicio - Fecha fin</span>
    <p-calendar
      [(ngModel)]="rangeDates"
      selectionMode="range"
      [readonlyInput]="true"
      appendTo="body"
      (onSelect)="onFilterChange()"
    ></p-calendar>

    <span>Escenario</span>
    <p-dropdown
      [autoDisplayFirst]="false"
      [options]="stages"
      [(ngModel)]="selectedStage"
      optionLabel="label"
      placeholder="Escenario"
      appendTo="body"
      (onChange)="onFilterChange()"
    ></p-dropdown>

    <span>Juego</span>
    <p-dropdown
      [autoDisplayFirst]="false"
      [options]="games"
      [(ngModel)]="selectedGame"
      optionLabel="label"
      placeholder="Juego"
      appendTo="body"
      (onChange)="onFilterChange()"
    ></p-dropdown>
  </div>

  <div class="performance-right">
    <!-- Mostrar mensaje si faltan filtros -->
    <div *ngIf="!allFiltersSelected()" class="message-container">
      <i class="pi pi-face-smile icon"></i>
      <p class="message-text">
        Por favor, selecciona la escuela, las fechas, el escenario y el juego
        para visualizar los datos específicos de la misma.
      </p>
    </div>

    <!-- Mostrar gráficos si todos los filtros están seleccionados -->
    <div class="school-data" *ngIf="allFiltersSelected()">
      <span class="school-name"
        >Datos Escuela: {{ selectedSchool?.label }}</span
      >

      <div class="chart-container">
        <!-- Gráfico de puntajes por nivel (level_grades) -->
        <app-bar-chart
          [title]="'Puntaje por Nivel'"
          [color]="'#FF8C71'"
          [data_label]="'Nivel de Rendimiento'"
          [data]="levelGradesData"
          [labels]="levelGradesLabels"
        ></app-bar-chart>

        <!-- Lista de cursos -->
        <app-grade-list
          [title]="'Lista de cursos'"
          [link]="getLink()"
          [firstColumnTitle]="'Curso'"
          [items]="items"
        ></app-grade-list>

        <!-- Gráfico de tiempos por nivel (level_times) -->
        <app-bar-chart
          [title]="'Tiempo por Nivel'"
          [color]="'#82BEFF'"
          [data_label]="'Tiempo en segundos'"
          [data]="levelTimesData"
          [labels]="levelTimesLabels"
        ></app-bar-chart>

        <!-- Gráfico de estados de niveles (level_states) -->
        <app-stacked-chart
          [title]="'Estados de Niveles'"
          [data]="levelStatesData"
          [labels]="levelStatesLabels"
        ></app-stacked-chart>

        <!-- Gráfico de estados de historias (story_states) -->
        <app-stacked-chart
          [title]="'Estados de Historias'"
          [data]="storyStatesData"
          [labels]="storyStatesLabels"
        ></app-stacked-chart>

        <!-- Gráfico de tiempos por historia (story_times) -->
        <app-bar-chart
          [title]="'Tiempo por Historia'"
          [color]="'#FFCE56'"
          [data]="storyTimesData"
          [data_label]="'Tiempo en segundos'"
          [labels]="storyTimesLabels"
        ></app-bar-chart>
      </div>
    </div>
  </div>
</div>
