.header-right{
  display: flex;
  align-items: center;
  justify-content: right;
  margin-right: 20px;
}
::ng-deep .p-button{
  background: #4789EE;
  border: 1px solid #4789EE;
}
::ng-deep .p-button-label,::ng-deep .p-button-icon{
  color: var(--white-color);

}

.header-container {
  background-color: #7FC5E7;
  padding: 10px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil debajo del header */
}