.header-right{
  display: flex;
  align-items: center;
  justify-content: right;
  margin-right: 20px;
}
::ng-deep .p-button{
  width: 150px ;
  background: #4789EE;
  border: 1px solid #4789EE;
}
::ng-deep .p-button-label,::ng-deep .p-button-icon{
  color: var(--white-color);

}
.header-container{
  background-color: var(--white-color);
  padding: 10px 0;
}