<div class="change-password-container">
  <h2>Cambiar Contraseña</h2>
  <form (ngSubmit)="onSubmit()" #changePasswordForm="ngForm">
    <div class="form-field">
      <label for="oldPassword">Contraseña Actual</label>
      <input
        pInputText
        id="oldPassword"
        [(ngModel)]="oldPassword"
        name="oldPassword"
        required
        type="password"
        #oldPasswordModel="ngModel"
      />
      <div
        *ngIf="
          oldPasswordModel.invalid &&
          (oldPasswordModel.dirty || oldPasswordModel.touched)
        "
      >
        <small class="error-text">Se requiere la contraseña actual.</small>
      </div>
    </div>
    <div class="form-field">
      <label for="newPassword">Nueva Contraseña</label>
      <input
        pInputText
        id="newPassword"
        [(ngModel)]="newPassword"
        name="newPassword"
        required
        type="password"
        #newPasswordModel="ngModel"
      />
      <div
        *ngIf="
          newPasswordModel.invalid &&
          (newPasswordModel.dirty || newPasswordModel.touched)
        "
      >
        <small class="error-text">Se requiere una nueva contraseña.</small>
      </div>
    </div>
    <div class="form-field">
      <label for="confirmPassword">Confirmar Nueva Contraseña</label>
      <input
        pInputText
        id="confirmPassword"
        [(ngModel)]="confirmPassword"
        name="confirmPassword"
        required
        type="password"
        #confirmPasswordModel="ngModel"
      />
      <div
        *ngIf="
          confirmPasswordModel.invalid &&
          (confirmPasswordModel.dirty || confirmPasswordModel.touched)
        "
      >
        <small class="error-text"
          >La confirmación de la contraseña es requerida.</small
        >
      </div>
      <div
        *ngIf="newPassword !== confirmPassword && confirmPasswordModel.touched"
      >
        <small class="error-text">Las contraseñas no coinciden.</small>
      </div>
    </div>
    <p-button
      label="Cambiar Contraseña"
      type="submit"
      class="p-button-primary"
      [disabled]="changePasswordForm.invalid"
    ></p-button>
  </form>
</div>
