<div class="login-container">
  <div class="login-box">
    <img src="assets/img/logo.png" alt="Logo" class="logo" />
    <h2>Inicio sesión</h2>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <div
        class="input-container"
        [class.p-invalid]="!usernameModel.valid && usernameModel.touched"
      >
        <label for="username">Username</label>
        <input
          pInputText
          id="username"
          name="username"
          aria-describedby="username-help"
          [(ngModel)]="email"
          required
          #usernameModel="ngModel"
        />
        <small
          *ngIf="!usernameModel.valid && usernameModel.touched"
          class="p-error"
          >Username is required.</small
        >
      </div>
      <div
        class="input-container"
        [class.p-invalid]="!passwordModel.valid && passwordModel.touched"
      >
        <label for="password">Password</label>
        <p-password
          name="password"
          [(ngModel)]="password"
          required
          [feedback]="false"
          #passwordModel="ngModel"
        ></p-password>
        <small
          *ngIf="!passwordModel.valid && passwordModel.touched"
          class="p-error"
          >Password is required.</small
        >
      </div>
      <div class="input-container">
        <label for="role">Role</label>
        <p-dropdown
          [options]="roles"
          [(ngModel)]="selectedRole"
          name="role"
          placeholder="Select a role"
        ></p-dropdown>
      </div>
      <p-button
        type="submit"
        label="Submit"
        class="login-button"
        [disabled]="loginForm.invalid || !selectedRole"
      ></p-button>
    </form>
  </div>
</div>
