.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background-color);
  }
  
  .login-box {
    background: var(--white-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
  }
  
  .logo {
    width: 300px;
    height: auto;
    margin-bottom: 20px;
  }
  
  h2 {
    margin-bottom: 20px;
    font-size: 20px;
    color: var(--font-color);
  }
  
  .p-field {
    margin: 10px 0;
  }
  
  .p-button-primary {
    margin-top: 10px;
  }
  .input-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    text-align: left;
    margin-bottom: 10px;
  }
  .login-button {
    background-color: #6CA2E0;
    color: var(--white-color);
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  .login-button:hover {
    background-color: #0056b3;
  }