<div class="request-reset-password-container">
  <div class="request-reset-password-box">
    <h2>Restablecer Contraseña</h2>
    <p>
      Introduce tu correo electrónico para recibir un enlace de restablecimiento
      de contraseña.
    </p>
    <form (ngSubmit)="onSubmit()" #requestForm="ngForm">
      <div class="form-field">
        <label for="email">Correo Electrónico</label>
        <input
          pInputText
          id="email"
          type="email"
          [(ngModel)]="email"
          name="email"
          required
          #emailModel="ngModel"
        />
        <div
          *ngIf="emailModel.invalid && (emailModel.dirty || emailModel.touched)"
        >
          <small class="error-text"
            >Se requiere un correo electrónico válido.</small
          >
        </div>
      </div>
      <p-button
        label="Enviar"
        type="submit"
        class="p-button-primary"
        [disabled]="requestForm.invalid"
      ></p-button>
    </form>
  </div>
</div>
