<div class="performance-container">
  <div class="performance-left">
    <!-- Agregar flecha para regresar -->
    <button class="back-button" (click)="goBack()">
      <i class="pi pi-arrow-left"></i> Atrás
    </button>
    <h3>Filtros de Visualización</h3>
    <!-- Dropdowns para seleccionar filtros -->
    <span>Curso</span>
    <p-dropdown
      [options]="courses"
      [(ngModel)]="selectedCourse"
      (onChange)="onCourseSelect()"
      optionLabel="label"
      placeholder="Selecciona Curso"
      appendTo="body"
    ></p-dropdown>

    <span>Fecha Inicio - Fecha fin</span>
    <p-calendar
      [(ngModel)]="rangeDates"
      selectionMode="range"
      [readonlyInput]="true"
      appendTo="body"
      (onSelect)="onCourseSelect()"
    ></p-calendar>

    <span>Escenario</span>
    <p-dropdown
      [options]="stages"
      optionLabel="label"
      [(ngModel)]="selectedStage"
      (onChange)="onCourseSelect()"
      placeholder="Selecciona Escenario"
      appendTo="body"
    ></p-dropdown>

    <span>Juego</span>
    <p-dropdown
      [options]="games"
      [(ngModel)]="selectedGame"
      placeholder="Selecciona Juego"
      optionLabel="label"
      appendTo="body"
      (onChange)="onCourseSelect()"
    ></p-dropdown>
  </div>

  <div class="performance-right">
    <!-- Mostrar mensaje si faltan filtros -->
    <div *ngIf="!allFiltersSelected()" class="message-container">
      <i class="pi pi-face-smile icon"></i>
      <p class="message-text">
        Por favor, selecciona el curso, las fechas, el escenario y el juego para
        visualizar los datos específicos de la misma.
      </p>
    </div>

    <!-- Mostrar gráficos si todos los filtros están seleccionados -->
    <div class="course-data" *ngIf="allFiltersSelected()">
      <span class="course-name">Datos Curso: {{ selectedCourse?.label }}</span>
      <div class="chart-container">
        <!-- Gráfica de puntaje por nivel -->
        <app-bar-chart
          [title]="'Puntaje por Nivel'"
          [data]="levelGradesData"
          [color]="'#FF8C71'"
          [data_label]="'Nivel de Rendimiento'"
          [labels]="levelGradesLabels"
        ></app-bar-chart>

        <!-- Lista de Estudiantes -->
        <app-grade-list
          [title]="'Lista de Estudiantes'"
          [link]="getLink()"
          [firstColumnTitle]="'Estudiante'"
          [items]="students"
        ></app-grade-list>

        <!-- Gráfica de tiempo por nivel -->
        <app-bar-chart
          [title]="'Tiempo por Nivel'"
          [data]="levelTimesData"
          [color]="'#82BEFF'"
          [data_label]="'Tiempo en segundos'"
          [labels]="levelTimesLabels"
        ></app-bar-chart>

        <!-- Gráfica de estados de nivel (completados/abandonados) -->
        <app-stacked-chart
          [title]="'Estados por Nivel'"
          [data]="levelStatesData"
          [labels]="levelStatesLabels"
        ></app-stacked-chart>

        <!-- Gráfica de estados de historias (completados/abandonados) -->
        <app-stacked-chart
          [title]="'Estados por Historia'"
          [data]="storyStatesData"
          [labels]="storyStatesLabels"
        ></app-stacked-chart>

        <!-- Gráfica de tiempo por historia -->
        <app-bar-chart
          [title]="'Tiempo por Historia'"
          [data]="storyTimesData"
          [color]="'#FFCE56'"
          [data_label]="'Tiempo en segundos'"
          [labels]="storyTimesLabels"
        ></app-bar-chart>
      </div>
    </div>
  </div>
</div>
