.performance-left{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.performance-container{
    width: 80vw;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 10px;
}


.chart-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual tamaño */
  gap: 40px; /* Espacio entre los gráficos */
  justify-items: center; /* Centrar horizontalmente cada elemento */
  align-items: center; /* Centrar verticalmente cada elemento */
  width: 100%; /* Asegurarse de que el contenedor ocupe todo el ancho disponible */
}

.performance-right {
  flex: 1; /* Ocupar el espacio disponible restante */
  overflow-y: auto; /* Permitir scroll si el contenido es demasiado alto */
  max-height: calc(100vh - 120px); /* Ajuste la altura disponible */
  display: flex;
    justify-content: center;
}

.back-button {
  width: fit-content;
    display: flex;
    align-items: center;
    background-color: #4789EE; /* Color de fondo */
    color: white; /* Color del texto */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
  }
  ::ng-deep i{
    color: var(--black-color);
  }
  ::ng-deep i.pi-arrow-left{
    color: white;
  }
  
  
  .back-button i {
    margin-right: 8px; /* Espacio entre el icono y el texto */
    font-size: 18px;
  }
  
  .back-button:hover {
    background-color: #0056b3; /* Color de fondo al pasar el cursor */
  }
  
  .back-button:focus {
    outline: none; /* Eliminar borde de enfoque */
  }
  
  .back-button:active {
    background-color: #004080; /* Color de fondo al hacer clic */
  }
  
  .course-name{
    margin-left: 10px;
    font-weight: 600;
    font-size: 20px;
    color: var(--black-color);
  }
  .course-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

    
.message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  height: fit-content;
  width: fit-content;
  margin-top: 20px;
}

.icon {
  font-size: 50px;
  color: #007ad9;
  margin-bottom: 15px;
}

.message-text {
  font-size: 18px;
  color: #333;
}