<h3>MIDI Panel de control</h3>
<div class="data-container">
  <div class="data-general">
    <div class="data-general-title-container">
      <span>Datos Generales</span>
      <p-dropdown
        [autoDisplayFirst]="false"
        [options]="kids"
        [(ngModel)]="selectedKid"
        optionLabel="Juego"
        optionLabel="label"
        placeholder="Selecciona Juego"
        appendTo="body"
      />
    </div>
  </div>
  <div class="data-game">
    <div class="data-game-title-container">
      <span>Datos general juego</span>
      <p-dropdown
        [autoDisplayFirst]="false"
        [options]="games"
        [(ngModel)]="selectedGame"
        optionLabel="Juego"
        optionLabel="label"
        placeholder="Selecciona Juego"
        appendTo="body"
      />
    </div>
  </div>
</div>
