button{
    margin: 0 10px
}
.create-button{
    margin: 10px;
}
.school-link {
    text-decoration: underline;
    color: #007bff;
    cursor: pointer;
  }

  .top-header{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}
.back-button{
    height: fit-content;
}
.top-header h2{
    margin: 0;
}
.title-container{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
