::ng-deep .p-tooltip .p-tooltip-text{
    background: var(--white-color) !important;

}

.school-edit-container {
    margin: 20px;
    max-width: 600px;
  }
  

  
  button.p-button-secondary {
    margin-bottom: 20px;
    margin-right: 10px;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Espacio entre los campos del formulario */
  }
  
  .form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px; /* Espacio entre el label y el input */
  }
  
  input[pInputText],
  textarea[pInputTextarea] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
  }
  
  textarea[pInputTextarea] {
    resize: vertical; /* Permitir cambiar el tamaño vertical del textarea */
  }
  
  button.p-button-primary {
    align-self: flex-end;
    margin-top: 20px;
  }
  
  .top-header{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }
  .caretaker-email-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
  }