<div class="kid-list-container">
  <div class="top-header">
    <button
      pButton
      label="Regresar"
      class="p-button-secondary back-button"
      icon="pi pi-arrow-left"
      (click)="goBack()"
    ></button>
    <h2>Lista de Estudiantes</h2>
  </div>

  <button
    pButton
    label="Crear Estudiante"
    icon="pi pi-plus"
    class="p-button-success create-button"
    (click)="createKid()"
  ></button>

  <!-- Mostrar mensaje si no hay estudiantes -->
  <div *ngIf="!kids.length && !loading" class="no-kids-message">
    <p>
      No hay estudiantes creados. Por favor, crea un nuevo estudiante para
      visualizarlo aquí.
    </p>
  </div>

  <!-- Mostrar la tabla solo si hay estudiantes -->
  <p-table
    *ngIf="kids.length"
    scrollable="true"
    scrollHeight="400px"
    [value]="kids"
    [paginator]="true"
    [rows]="pageSize"
    [totalRecords]="totalItems"
    [lazy]="true"
    [loading]="loading"
    (onLazyLoad)="loadKidsLazy($event)"
    [first]="first"
    [rowsPerPageOptions]="[5, 10, 25, 50]"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Nombre</th>
        <th>Edad</th>
        <th>Etnia</th>
        <th>Acciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-kid>
      <tr>
        <td>
          <a (click)="goToPlayerPerformance(kid.id)" class="player-link">{{
            kid.full_name
          }}</a>
        </td>
        <td>{{ kid.edad }}</td>
        <td>{{ kid.ethnicity }}</td>
        <td>
          <button
            pButton
            icon="pi pi-pencil"
            class="p-button-warning action-button"
            (click)="editKid(kid.id)"
          ></button>
          <button
            pButton
            icon="pi pi-trash"
            class="p-button-danger action-button"
            (click)="deleteKid(kid.id)"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
