/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
:root {
    --black-color: #3E495F;
    --white-color: #FAF9F6;
}

/* Rest of your CSS code */
* {
    font-family: 'Open Sans', sans-serif;
    color: var(--black-color);
}
body {
    margin: 0;
}

html, body {
    overflow-y: hidden;
}
